<!-- /templates/index.html -->
<html>
	<body>
		<head>
        	<link rel="stylesheet" href="/static/style.css">
        	<link rel="stylesheet" href="/static/about.css">
    	</head>

		<div class="topnav">
			<a href="home">Home</a>
			<a href="contact">Contact</a>
			<a class = "active" href="about">About</a>
			<a href="ttt">Tic-Tac-Toe</a>
		</div> 

		<h1>About</h1>

		<p class = "pdf_align">
			<iframe src="https://drive.google.com/file/d/1iMzEmCyJakgP8bRTri_4BiXY5GO9i4UI/preview" width="780" height="1050"></iframe>
		</p>

    </body>
</html>