<!-- /templates/index.html -->
<html>
	<body>
		<head>
        	<link rel="stylesheet" href="/static/style.css">
        	<link rel="stylesheet" href="/static/ttt.css">

    	</head>

		<div class="topnav">
			<a href="home">Home</a>
			<a href="contact">Contact</a>
			<a href="about">About</a>
			<a href="ttt">Tic-Tac-Toe</a>
			<a class = "active" href="pongQueue">Pong Queue</a>
		</div> 

		<h1 id = "title">Beer Pong Queue</h1>

		<form action="/action_page.php">
			<input type="image" id="idPhoto">
			<input type="submit">
		</form>
		
    </body>
</html>